# Quantitative Value Strategy

"Value investing" merans investing in the stoks that are cheapest relative to common measures of business value (like 
earnings or assets). 

For this project, we're going to build an investing strategy that selects the 50 stocks with the vest value metrics.
From there, we will calculate recommended trades for an equal-weight portifolio of these 50 stocks.

# Library imports

In [16]:
from scipy.stats import percentileofscore as score
from scipy import stats
import pandas as pd
import numpy as np 
import xlsxwriter 
import requests
import math

# Importing Our List of Stocks and getting API Token

In [17]:
stocks = pd.read_csv('sp_500_stocks.csv')
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

# Executing a batch API Call & Building our Dataframe

In [18]:
#1.Split the list of tickers in sublists.

#2. Using chuncks function
#2.1. Source: https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks

#3. See batch requests in IEX API documentation

def chunks(lst,n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i : i + n]

In [19]:
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    
    symbol_strings.append(','.join(symbol_groups[i]))
    #print (symbol_strings[i])
    
my_columns = ['Ticker','Company Name', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

In [20]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings[:1]:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string} &types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(','):
    
        final_dataframe= final_dataframe.append(
        pd.Series(
        [
            symbol,
            data[symbol]['stats']['companyName'],
            data[symbol]['price'],
            data[symbol]['stats']['peRatio'],
            'N/A'
        ],
        index = my_columns),
        ignore_index = True)
        
final_dataframe

,Ticker,Company Name,Price,Price-to-Earnings Ratio,Number of Shares to Buy
0,A,Agilent Technologies Inc.,147.24,48.040718,N/A
1,AAL,American Airlines Group Inc,22.83,-1.899248,N/A
2,AAP,Advance Auto Parts Inc,200.95,20.126995,N/A
3,AAPL,Apple Inc,130.86,29.794856,N/A
4,ABBV,Abbvie Inc,118.66,40.910108,N/A
...,...,...,...,...,...
95,CINF,Cincinnati Financial Corp.,116.27,6.106284,N/A
96,CL,Colgate-Palmolive Co.,81.96,25.990457,N/A
97,CLX,Clorox Co.,174.81,23.489044,N/A
98,CMA,"Comerica, Inc.",69.54,11.273566,N/A
99,CMCSA,Comcast Corp,58.50,23.298204,N/A

# Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 
Since the goal of this strategy is to identify the 50 best value stocks from our universe, our 
next step is ro remove glamour stocks from the DataFrame. 

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the
top 50.

In [22]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = False, inplace = True)
final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis = 1, inplace = True)
final_dataframe

<ipython-input-22-3c79181e7ea5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = False, inplace = True)

,Ticker,Company Name,Price,Price-to-Earnings Ratio,Number of Shares to Buy
0,APA,APA Corporation,21.51,985.257476,N/A
1,BSX,Boston Scientific Corp.,44.02,308.689884,N/A
2,BKNG,Booking Holdings Inc,2263.68,136.514848,N/A
3,AIV,Apartment Investment & Management Co.,7.31,128.836917,N/A
4,ALGN,"Align Technology, Inc.",629.60,106.868519,N/A
5,CCI,Crown Castle International Corp,202.42,96.698860,N/A
6,APTV,Aptiv PLC,153.78,87.764422,N/A
7,AMZN,Amazon.com Inc.,3635.70,68.076494,N/A
8,ABMD,Abiomed Inc.,329.97,64.770984,N/A
9,AMT,American Tower Corp.,279.09,64.587147,N/A
10,ANSS,Ansys Inc.,332.48,64.007983,N/A
11,ALXN,Alexion Pharmaceuticals Inc.,185.75,61.358300,N/A
12,CDNS,"Cadence Design Systems, Inc.",130.63,56.939902,N/A
13,ALB,Albemarle Corp.,163.51,52.005578,N/A
14,ADSK,Autodesk Inc.,286.77,49.458255,N/A
15,ADBE,Adobe Inc,577.67,48.704303,N/A
16,A,Agilent Technologies Inc.,147.24,48.040718,N/A
17,BDX,"Becton, Dickinson And Co.",244.21,44.392158,N/A
18,AVGO,Broadcom Inc,470.80,43.003193,N/A
19,ANET,Arista Networks Inc,375.99,42.885406,N/A
20,BXP,"Boston Properties, Inc.",118.71,42.000593,N/A
21,ABBV,Abbvie Inc,118.66,40.910108,N/A
22,AWK,American Water Works Co. Inc.,161.77,40.261349,N/A
23,BAX,Baxter International Inc.,84.50,39.927602,N/A
24,ADI,Analog Devices Inc.,168.22,39.345008,N/A
25,AME,Ametek Inc,134.64,38.638623,N/A
26,BF.B,Brown-Forman Corp.,76.25,38.345396,N/A
27,AVB,Avalonbay Communities Inc.,208.50,37.290110,N/A
28,ARE,Alexandria Real Estate Equities Inc.,186.46,36.928097,N/A
29,CHTR,Charter Communications Inc.,702.80,36.585740,N/A
30,BR,"Broadridge Financial Solutions, Inc.",159.40,36.276497,N/A
31,ABT,Abbott Laboratories,114.73,35.941499,N/A
32,ACN,Accenture plc,291.23,35.913708,N/A
33,APD,Air Products & Chemicals Inc.,295.70,35.893202,N/A
34,AMD,Advanced Micro Devices Inc.,87.59,35.765931,N/A
35,CBRE,CBRE Group Inc,90.46,35.389033,N/A
36,CAT,Caterpillar Inc.,212.26,34.892139,N/A
37,BLL,Ball Corp.,79.89,34.706448,N/A
38,AJG,Arthur J. Gallagher & Co.,139.92,33.974323,N/A
39,ADP,Automatic Data Processing Inc.,197.80,33.464563,N/A
40,AKAM,Akamai Technologies Inc,116.33,32.908403,N/A
41,APH,Amphenol Corp.,67.79,31.855061,N/A
42,ATVI,Activision Blizzard Inc,93.98,31.831391,N/A
43,CERN,Cerner Corp.,81.90,30.498731,N/A
44,ALLE,Allegion plc,137.69,30.002999,N/A
45,AAPL,Apple Inc,130.86,29.794856,N/A
46,AOS,A.O. Smith Corp.,68.79,28.389004,N/A
47,AMAT,Applied Materials Inc.,133.40,28.326234,N/A
48,CBOE,Cboe Global Markets Inc.,118.10,28.196455,N/A
49,AVY,Avery Dennison Corp.,210.53,28.152750,N/A

# Calculating the number os shares to buy

In [26]:
portifolio_input = 100000
position_size = float(portifolio_input)/len(final_dataframe.index)

for row in final_dataframe.index:
    final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row, 'Price'])

final_dataframe

,Ticker,Company Name,Price,Price-to-Earnings Ratio,Number of Shares to Buy
0,APA,APA Corporation,21.51,985.257476,92
1,BSX,Boston Scientific Corp.,44.02,308.689884,45
2,BKNG,Booking Holdings Inc,2263.68,136.514848,0
3,AIV,Apartment Investment & Management Co.,7.31,128.836917,273
4,ALGN,"Align Technology, Inc.",629.60,106.868519,3
5,CCI,Crown Castle International Corp,202.42,96.698860,9
6,APTV,Aptiv PLC,153.78,87.764422,13
7,AMZN,Amazon.com Inc.,3635.70,68.076494,0
8,ABMD,Abiomed Inc.,329.97,64.770984,6
9,AMT,American Tower Corp.,279.09,64.587147,7
10,ANSS,Ansys Inc.,332.48,64.007983,6
11,ALXN,Alexion Pharmaceuticals Inc.,185.75,61.358300,10
12,CDNS,"Cadence Design Systems, Inc.",130.63,56.939902,15
13,ALB,Albemarle Corp.,163.51,52.005578,12
14,ADSK,Autodesk Inc.,286.77,49.458255,6
15,ADBE,Adobe Inc,577.67,48.704303,3
16,A,Agilent Technologies Inc.,147.24,48.040718,13
17,BDX,"Becton, Dickinson And Co.",244.21,44.392158,8
18,AVGO,Broadcom Inc,470.80,43.003193,4
19,ANET,Arista Networks Inc,375.99,42.885406,5
20,BXP,"Boston Properties, Inc.",118.71,42.000593,16
21,ABBV,Abbvie Inc,118.66,40.910108,16
22,AWK,American Water Works Co. Inc.,161.77,40.261349,12
23,BAX,Baxter International Inc.,84.50,39.927602,23
24,ADI,Analog Devices Inc.,168.22,39.345008,11
25,AME,Ametek Inc,134.64,38.638623,14
26,BF.B,Brown-Forman Corp.,76.25,38.345396,26
27,AVB,Avalonbay Communities Inc.,208.50,37.290110,9
28,ARE,Alexandria Real Estate Equities Inc.,186.46,36.928097,10
29,CHTR,Charter Communications Inc.,702.80,36.585740,2
30,BR,"Broadridge Financial Solutions, Inc.",159.40,36.276497,12
31,ABT,Abbott Laboratories,114.73,35.941499,17
32,ACN,Accenture plc,291.23,35.913708,6
33,APD,Air Products & Chemicals Inc.,295.70,35.893202,6
34,AMD,Advanced Micro Devices Inc.,87.59,35.765931,22
35,CBRE,CBRE Group Inc,90.46,35.389033,22
36,CAT,Caterpillar Inc.,212.26,34.892139,9
37,BLL,Ball Corp.,79.89,34.706448,25
38,AJG,Arthur J. Gallagher & Co.,139.92,33.974323,14
39,ADP,Automatic Data Processing Inc.,197.80,33.464563,10
40,AKAM,Akamai Technologies Inc,116.33,32.908403,17
41,APH,Amphenol Corp.,67.79,31.855061,29
42,ATVI,Activision Blizzard Inc,93.98,31.831391,21
43,CERN,Cerner Corp.,81.90,30.498731,24
44,ALLE,Allegion plc,137.69,30.002999,14
45,AAPL,Apple Inc,130.86,29.794856,15
46,AOS,A.O. Smith Corp.,68.79,28.389004,29
47,AMAT,Applied Materials Inc.,133.40,28.326234,14
48,CBOE,Cboe Global Markets Inc.,118.10,28.196455,16
49,AVY,Avery Dennison Corp.,210.53,28.152750,9

# Build a Better (and More Realistic) Value Strategy

Every valuation metric has certain flaws. 

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings. 
Similary, stocks that buyback their own shares are dificult to value using the price-to-book ratio.

Investors typically use a composite basket of valuation metrics to build robust quantitative value
strategies. 

In this section, we will filter for stocks with the lowest percentiles on the following metrics: 

1. Price-to-earnings ratio
2. Price-to-book ratio
3. Price-to-sales ratio
4. Enterprise Value divided by earnings before interest, taxes, depreciation, and amortization (EV/EBITDA)
5. Enterprise Value divided by gross profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data.

In [31]:
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string} &types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# Price-to-earnings ratio
pe_ratio = data[symbol]['quote']['peRatio']

# Price-to-book ratio 
pb_ratio = data['AAPL']['advanced-stats']['priceToBook']

# Price-to-sales ratio 
ps_ratio = data['AAPL']['advanced-stats']['priceToSales']

# Enterprise value divided by earnings before interest, taxes, depreciation, and amortization (EV/EBITDA)
enterprise_value = data['AAPL']['advanced-stats']['enterpriseValue']
ebitda = data['AAPL']['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# Enterprise value divided by Gross Profit (EV/GP)
gross_profit = data['AAPL']['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

print(ev_to_gross_profit)

16.89048116873163

Ps: rv = robust value

In [43]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string} &types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']

        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
        
        rv_dataframe = rv_dataframe.append(
        
        pd.Series([
            symbol,
            data[symbol]['quote']['latestPrice'],
            'N/A',
            data[symbol]['quote']['peRatio'],
            'N/A',
            data[symbol]['advanced-stats']['priceToBook'],
            'N/A',
            data[symbol]['advanced-stats']['priceToSales'],
            'N/A',
            ev_to_ebitda,
            'N/A',
            ev_to_gross_profit,
            'N/A',
            'N/A'
        ],
        index= rv_columns),
        ignore_index = True
        )

# Dealing with Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available 
through the API we're using. 

You can use pandas' isnull method to identify missing data.

In [44]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)].index

Int64Index([ 40,  71, 118, 136, 165, 168, 186, 190, 192, 204, 326, 327, 348,
            363, 442, 452, 454, 498],
           dtype='int64')

Dealing with missing data is an important topic in data science. 

There are 2 main approaches:
    
    1. Drop missing data from the data set (pandas's dropna method is useful here)
    2. Replace missing data with a new value (pandas' fillna method is useful here)

In [48]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio', 'Price-to-Sales Ratio', 'EV/EBITDA', 'EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [50]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

# Calculating Value Percentiles

Metrics: 

1. price to earnings ratio
2. price to book ratio 
3. price to sales ratio
4. EV/EBITDA
5. EV/GP

In [58]:
from scipy.stats import percentileofscore as score

metrics = {
    'Price-to-Earnings Ratio': 'PE Percentile',
    'Price-to-Book Ratio' : 'PB Percentile',
    'Price-to-Sales Ratio': 'PS Percentile',
    'EV/EBITDA': 'EV/EBITDA Percentile',
    'EV/GP' : 'EV/GP Percentile',
}

for metric in metrics.keys():
    for row in rv_dataframe.index:
        try: 
            rv_dataframe.loc[row, metrics[metric]] = stats.score( rv_dataframe[metric], rv_dataframe.loc[row, metrics[metric]])
        except:
            rv_dataframe.loc[row, metrics[metric]] = 1
            
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,150.53,N/A,48.60,1,9.50,1,7.66,1,31.303976,1,15.163744,1,N/A
1,AAL,22.90,N/A,-1.51,1,-1.80,1,1.13,1,-3.800149,1,3.165703,1,N/A
2,AAP,201.12,N/A,21.49,1,3.67,1,1.21,1,11.252172,1,2.745531,1,N/A
3,AAPL,132.58,N/A,29.72,1,31.99,1,6.74,1,23.079396,1,17.785627,1,N/A
4,ABBV,115.98,N/A,39.04,1,14.85,1,4.00,1,12.784628,1,8.242256,1,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,116.94,N/A,31.00,1,-4.37,1,5.83,1,22.285311,1,9.987873,1,N/A
501,ZBH,165.30,N/A,58.55,1,2.69,1,4.84,1,27.469245,1,8.095207,1,N/A
502,ZBRA,517.18,N/A,42.05,1,11.19,1,5.83,1,30.022174,1,12.072914,1,N/A
503,ZION,51.40,N/A,6.31,1,1.17,1,2.41,1,4.879597,1,2.384233,1,N/A
504,ZTS,192.49,N/A,51.87,1,22.01,1,12.87,1,33.633516,1,18.752457,1,N/A

# Calculating the RV SCore

In [65]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles= []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
        
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,150.53,N/A,48.60,1,9.50,1,7.66,1,31.303976,1,15.163744,1,1
1,AAL,22.90,N/A,-1.51,1,-1.80,1,1.13,1,-3.800149,1,3.165703,1,1
2,AAP,201.12,N/A,21.49,1,3.67,1,1.21,1,11.252172,1,2.745531,1,1
3,AAPL,132.58,N/A,29.72,1,31.99,1,6.74,1,23.079396,1,17.785627,1,1
4,ABBV,115.98,N/A,39.04,1,14.85,1,4.00,1,12.784628,1,8.242256,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,116.94,N/A,31.00,1,-4.37,1,5.83,1,22.285311,1,9.987873,1,1
501,ZBH,165.30,N/A,58.55,1,2.69,1,4.84,1,27.469245,1,8.095207,1,1
502,ZBRA,517.18,N/A,42.05,1,11.19,1,5.83,1,30.022174,1,12.072914,1,1
503,ZION,51.40,N/A,6.31,1,1.17,1,2.41,1,4.879597,1,2.384233,1,1
504,ZTS,192.49,N/A,51.87,1,22.01,1,12.87,1,33.633516,1,18.752457,1,1