# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most. 

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portifolio of these 50 stocks.

# Library imports

In [5]:
from scipy.stats import percentileofscore as score
from scipy import stats
import pandas as pd
import numpy as np 
import xlsxwriter 
import requests
import math

# Importing Our List of Stocks and getting API Token

In [6]:
stocks = pd.read_csv('sp_500_stocks.csv')
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [7]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

data

{'companyName': 'Apple Inc',
 'marketcap': 2253312230460,
 'week52high': 146.19,
 'week52low': 88,
 'week52highSplitAdjustOnly': 149.14,
 'week52lowSplitAdjustOnly': 89.59,
 'week52change': 0.5267763393053125,
 'sharesOutstanding': 17484257174,
 'float': 0,
 'avg10Volume': 83273084,
 'avg30Volume': 75323433,
 'day200MovingAvg': 130,
 'day50MovingAvg': 127.4,
 'employees': 150526,
 'ttmEPS': 4.61,
 'ttmDividendRate': 0.8743173730424738,
 'dividendYield': 0.006563608887547242,
 'nextDividendDate': '',
 'exDividendDate': '2021-05-03',
 'nextEarningsDate': '2021-07-17',
 'peRatio': 28.92695641778149,
 'beta': 1.537830668172389,
 'maxChangePercent': 49.81045469709088,
 'year5ChangePercent': 5.046466277973918,
 'year2ChangePercent': 1.70367175099586,
 'year1ChangePercent': 0.504545212548302,
 'ytdChangePercent': -0.014170313563430757,
 'month6ChangePercent': 0.03385479002669051,
 'month3ChangePercent': 0.08548327482364974,
 'month1ChangePercent': 0.04681766551643714,
 'day30ChangePercent': 0.04843272195777801,
 'day5ChangePercent': 0.024616380440461404}

# Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket
notation as in tha projec 1.

In [8]:
data['year1ChangePercent']

0.504545212548302

# Executing a batch API Call & Building our Dataframe

In [9]:
#1.Split the list of tickers in sublists.

#2. Using chuncks function
#2.1. Source: https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks

#3. See batch requests in IEX API documentation

def chunks(lst,n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i : i + n]

In [10]:
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    
    symbol_strings.append(','.join(symbol_groups[i]))
    #print (symbol_strings[i])
    
my_columns = ['Ticker','Company Name', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

In [11]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings[:1]:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string} &types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    print(data['AAPL']['price'])

    for symbol in symbol_string.split(','):
    
        final_dataframe= final_dataframe.append(
        pd.Series(
        [
            symbol,
            data[symbol]['stats']['companyName'],
            data[symbol]['price'],
            data[symbol]['stats']['year1ChangePercent'],
            'N/A'
        ],
        index = my_columns),
        ignore_index = True)
        
final_dataframe

132.97

,Ticker,Company Name,Price,One-Year Price Return,Number of Shares to Buy
0,A,Agilent Technologies Inc.,150.32,0.674735,N/A
1,AAL,American Airlines Group Inc,22.75,0.355761,N/A
2,AAP,Advance Auto Parts Inc,201.49,0.332886,N/A
3,AAPL,Apple Inc,132.97,0.507538,N/A
4,ABBV,Abbvie Inc,113.64,0.243634,N/A
...,...,...,...,...,...
95,CINF,Cincinnati Financial Corp.,116.74,0.887182,N/A
96,CL,Colgate-Palmolive Co.,83.81,0.128881,N/A
97,CLX,Clorox Co.,178.47,-0.183514,N/A
98,CMA,"Comerica, Inc.",71.25,0.815658,N/A
99,CMCSA,Comcast Corp,57.01,0.488312,N/A

# Removing Low-Momentum Stocks

In [12]:
# The parameter inplace = True overwrites the dataframe with the ascending filter selection.
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe.reset_index(inplace = True)
final_dataframe[:20]

,index,Ticker,Company Name,Price,One-Year Price Return,Number of Shares to Buy
0,24,ALGN,"Align Technology, Inc.",623.06,1.280785,N/A
1,29,AMAT,Applied Materials Inc.,136.46,1.209189,N/A
2,78,CARR,Carrier Global Corp,46.01,1.185563,N/A
3,23,ALB,Albemarle Corp.,164.57,1.058380,N/A
4,16,AES,AES Corp.,26.03,0.958304,N/A
5,45,APTV,Aptiv PLC,151.29,0.926391,N/A
6,95,CINF,Cincinnati Financial Corp.,116.74,0.887182,N/A
7,82,CBRE,CBRE Group Inc,88.85,0.839191,N/A
8,98,CMA,"Comerica, Inc.",71.25,0.815658,N/A
9,51,AVY,Avery Dennison Corp.,212.82,0.812815,N/A
10,90,CFG,Citizens Financial Group Inc,45.09,0.788768,N/A
11,87,CE,Celanese Corp,150.52,0.714259,N/A
12,89,CF,CF Industries Holdings Inc,50.30,0.705816,N/A
13,25,ALK,Alaska Air Group Inc.,64.19,0.701683,N/A
14,0,A,Agilent Technologies Inc.,150.32,0.674735,N/A
15,37,ANET,Arista Networks Inc,367.39,0.674563,N/A
16,79,CAT,Caterpillar Inc.,218.91,0.674182,N/A
17,34,AMP,Ameriprise Financial Inc,238.83,0.628121,N/A
18,56,BAC,Bank Of America Corp.,39.88,0.608856,N/A
19,53,AXP,American Express Co.,165.54,0.594978,N/A

# Calculating the Number of Shares to Buy (based on Price)

In [13]:
portifolio_size = 100000
val = float(portifolio_size)

position_size = val/len(final_dataframe.index)

for i in range(0, len(final_dataframe)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i,'Price'])

final_dataframe

,index,Ticker,Company Name,Price,One-Year Price Return,Number of Shares to Buy
0,24,ALGN,"Align Technology, Inc.",623.06,1.280785,1
1,29,AMAT,Applied Materials Inc.,136.46,1.209189,7
2,78,CARR,Carrier Global Corp,46.01,1.185563,21
3,23,ALB,Albemarle Corp.,164.57,1.058380,6
4,16,AES,AES Corp.,26.03,0.958304,38
...,...,...,...,...,...,...
95,15,AEP,American Electric Power Company Inc.,82.94,0.042081,12
96,59,BDX,"Becton, Dickinson And Co.",247.64,0.030119,4
97,47,ATO,Atmos Energy Corp.,102.20,-0.017333,9
98,57,BAX,Baxter International Inc.,83.96,-0.024069,11
99,97,CLX,Clorox Co.,178.47,-0.183514,5

# Building a better (and more realistic) momentum strategy

Real world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks: 

High-quality momentum stocks show "slow and steady" outperformance over long periods of time. 
Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (shuch as an FDA approval for a biotechnology company). 

To identify high-quality momentum , we're going to build a strategy that selects stocks from the highest percentiles of:

1. 1-month price returns
2. 3-month price returns
3. 6-month price returns
4. 1-year price returns

Ps: hqm = high-quality-momentum
Ps: I had problems calculating the percentiles so, I used the columns Price Return. Will work on it later.

In [14]:
hqm_columns =[
    'Ticker', 
    'Price', 
    'Number of Shares to Buy',
    'One-Year Price Return',
    'One-Year Return Percentile',
    'Six-Month Price Return',
    'Six-Month Return Percentile',
    'Three-Month Price Return',
    'Three-Month Return Percentile',
    'One-Month Price Return',
    'One-Month Return Percentile',
    'HQM Score'
]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

In [15]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string} &types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    
    for symbol in symbol_string.split(','):
    
        hqm_dataframe = hqm_dataframe.append(
        pd.Series(
        [
            symbol, 
            data[symbol]['price'], 
            'N/A',
            data[symbol]['stats']['year1ChangePercent'],
            'N/A',
            data[symbol]['stats']['month6ChangePercent'],
            'N/A',
            data[symbol]['stats']['month3ChangePercent'],
            'N/A',
            data[symbol]['stats']['month1ChangePercent'],
            'N/A',
            'N/A'
        ],
        index = hqm_columns),
        ignore_index = True)
        
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,146.77,N/A,0.664426,N/A,0.226814,N/A,0.184769,N/A,0.130788,N/A,N/A
1,AAL,22.55,N/A,0.359067,N/A,0.364434,N/A,-0.102294,N/A,-0.056488,N/A,N/A
2,AAP,196.36,N/A,0.327197,N/A,0.216808,N/A,0.059007,N/A,-0.029426,N/A,N/A
3,AAPL,134.12,N/A,0.495877,N/A,0.033747,N/A,0.0874,N/A,0.045367,N/A,N/A
4,ABBV,116.80,N/A,0.238483,N/A,0.113861,N/A,0.104895,N/A,-0.036629,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,117.89,N/A,0.309584,N/A,0.056128,N/A,0.063681,N/A,-0.035312,N/A,N/A
501,ZBH,162.72,N/A,0.263847,N/A,0.048951,N/A,-0.000912,N/A,-0.04985,N/A,N/A
502,ZBRA,497.58,N/A,0.914363,N/A,0.334289,N/A,0.072719,N/A,0.034693,N/A,N/A
503,ZION,51.60,N/A,0.453299,N/A,0.244614,N/A,-0.120106,N/A,-0.138999,N/A,N/A
504,ZTS,192.18,N/A,0.357195,N/A,0.139316,N/A,0.225527,N/A,0.093891,N/A,N/A

In [27]:
time_periods = [
    'One-Year',
    'Six-Month',
    'Three-Month',
    'One-Month',
]

for row in hqm_dataframe.index: 
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        price_col = 'price'
        percentile_col = f'{time_period} Return Percentile'
        
        #Concatenates string to build the column name that we're inserting values
        try:
            hqm_dataframe.loc[row, percentile_col] = score(hqm_dataframe[change_col], hqm_dataframe.loc[price_col])
        except:
            hqm_dataframe.loc[row, percentile_col] = 0
        
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,LB,62.81,3,3.151719,0,0.637903,0,0.045995,0,-0.09841,0,0.934302
1,FCX,36.35,5,2.350441,0,0.432334,0,-0.010991,0,-0.201984,0,0.64245
2,GPS,32.03,6,1.908936,0,0.576106,0,0.021169,0,-0.107271,0,0.599735
3,F,14.74,13,1.32747,0,0.628294,0,0.166392,0,0.205285,0,0.58186
4,NVDA,765.51,0,1.073577,0,0.410036,0,0.483532,0,0.330174,0,0.57433
...,...,...,...,...,...,...,...,...,...,...,...,...
500,MKTX,453.08,0,-0.100168,0,-0.232014,0,-0.106394,0,0.006402,0,-0.108043
501,CTXS,120.50,1,-0.206916,0,-0.127143,0,-0.119445,0,0.003282,0,-0.112556
502,COG,15.35,12,-0.170505,0,-0.087472,0,-0.141663,0,-0.143273,0,-0.135728
503,STX,85.40,2,-0.145915,0,-0.150079,0,-0.147584,0,-0.147466,0,-0.147761
504,VRTX,196.24,1,-0.331996,0,-0.206699,0,-0.122912,0,-0.130615,0,-0.198055

# Calculating the HQM Score

We'll now calculate our HQM Score, which is the high-quality momentum score
that we'll use to filter for stocks in this investing strategy. 

The HQM Score will be the arithmetic mean of the 4 momentum percentile scores
that we calculated in the last section.

To calculate arithmetic mean, we will use the mean funcion from Python built-in
statistics module.

In [17]:
from statistics import mean

for row in hqm_dataframe.index: 

    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Price Return'])
    
    try:
        hqm_dataframe.loc[row,'HQM Score'] = mean(momentum_percentiles)
    except:
        hqm_dataframe.loc[row,'HQM Score'] = 0

hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,146.77,N/A,0.664426,0,0.226814,0,0.184769,0,0.130788,0,0.301699
1,AAL,22.55,N/A,0.359067,0,0.364434,0,-0.102294,0,-0.056488,0,0.14118
2,AAP,196.36,N/A,0.327197,0,0.216808,0,0.059007,0,-0.029426,0,0.143397
3,AAPL,134.12,N/A,0.495877,0,0.033747,0,0.0874,0,0.045367,0,0.165598
4,ABBV,116.80,N/A,0.238483,0,0.113861,0,0.104895,0,-0.036629,0,0.105153
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,117.89,N/A,0.309584,0,0.056128,0,0.063681,0,-0.035312,0,0.09852
501,ZBH,162.72,N/A,0.263847,0,0.048951,0,-0.000912,0,-0.04985,0,0.065509
502,ZBRA,497.58,N/A,0.914363,0,0.334289,0,0.072719,0,0.034693,0,0.339016
503,ZION,51.60,N/A,0.453299,0,0.244614,0,-0.120106,0,-0.138999,0,0.109702
504,ZTS,192.18,N/A,0.357195,0,0.139316,0,0.225527,0,0.093891,0,0.203982

# Selecting the 50 best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the
HQM Score column and dropping all but the top 50 entries.

In [18]:
hqm_dataframe.sort_values('HQM Score', ascending = False, inplace = True)
hqm_dataframe[:50]
hqm_dataframe.reset_index(inplace = True , drop = True)

hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,LB,62.81,N/A,3.151719,0,0.637903,0,0.045995,0,-0.09841,0,0.934302
1,FCX,36.35,N/A,2.350441,0,0.432334,0,-0.010991,0,-0.201984,0,0.64245
2,GPS,32.03,N/A,1.908936,0,0.576106,0,0.021169,0,-0.107271,0,0.599735
3,F,14.74,N/A,1.32747,0,0.628294,0,0.166392,0,0.205285,0,0.58186
4,NVDA,765.51,N/A,1.073577,0,0.410036,0,0.483532,0,0.330174,0,0.57433
...,...,...,...,...,...,...,...,...,...,...,...,...
500,MKTX,453.08,N/A,-0.100168,0,-0.232014,0,-0.106394,0,0.006402,0,-0.108043
501,CTXS,120.50,N/A,-0.206916,0,-0.127143,0,-0.119445,0,0.003282,0,-0.112556
502,COG,15.35,N/A,-0.170505,0,-0.087472,0,-0.141663,0,-0.143273,0,-0.135728
503,STX,85.40,N/A,-0.145915,0,-0.150079,0,-0.147584,0,-0.147466,0,-0.147761
504,VRTX,196.24,N/A,-0.331996,0,-0.206699,0,-0.122912,0,-0.130615,0,-0.198055

# Calculating the number of shares to buy

We'll use the portifolio_input function that we created earlier to accept our portifolio size. Then we'll use similar logic in
for loop to calculate the number of shares to buy for each stock in our investment universe.

In [19]:
portifolio_input = 100000
position_size = float(portifolio_input)/len(hqm_dataframe.index)

for i in hqm_dataframe.index:
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/hqm_dataframe.loc[i, 'Price'])
    
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,LB,62.81,3,3.151719,0,0.637903,0,0.045995,0,-0.09841,0,0.934302
1,FCX,36.35,5,2.350441,0,0.432334,0,-0.010991,0,-0.201984,0,0.64245
2,GPS,32.03,6,1.908936,0,0.576106,0,0.021169,0,-0.107271,0,0.599735
3,F,14.74,13,1.32747,0,0.628294,0,0.166392,0,0.205285,0,0.58186
4,NVDA,765.51,0,1.073577,0,0.410036,0,0.483532,0,0.330174,0,0.57433
...,...,...,...,...,...,...,...,...,...,...,...,...
500,MKTX,453.08,0,-0.100168,0,-0.232014,0,-0.106394,0,0.006402,0,-0.108043
501,CTXS,120.50,1,-0.206916,0,-0.127143,0,-0.119445,0,0.003282,0,-0.112556
502,COG,15.35,12,-0.170505,0,-0.087472,0,-0.141663,0,-0.143273,0,-0.135728
503,STX,85.40,2,-0.145915,0,-0.150079,0,-0.147584,0,-0.147466,0,-0.147761
504,VRTX,196.24,1,-0.331996,0,-0.206699,0,-0.122912,0,-0.130615,0,-0.198055